DATABASE_URL="postgresql://neondb_owner:npg_rBZY2GzATi6x@ep-cold-silence-aoncxcqt-pooler.c-2.ap-southeast-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require"
NEXTAUTH_SECRET="some-long-random-string"
NEXTAUTH_URL="https://hopeee-snowy.vercel.app"
# In Vercel, you can also rely on VERCEL_URL if NEXTAUTH_URL is missing.
"